.header-item {
  position: relative;
  height: 100%;
  cursor: pointer;
  font-size: 14px;
  line-height: 40px;

  > a:hover {
    color: $text-active;
  }

  &:hover {
    .header-submenu {
      display: flex;
    }
  }
}
