li.submenu-item {
  ul {
    padding: 0;

    li {
      height: 38px;
      font-size: 14px;
    }

    li.submenu-content {
      &:hover {
        a {
          color: $text-active;
        }
      }
    }

    li.submenu-title {
      font-weight: $font-weights-bold;
    }
  }
}
