.header-auth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 180px;
  border-left: 1px solid $text-secondary;

  .btn {
    border: none;
    border-radius: 5px;
    width: 87px;
    padding: 10px;
    cursor: pointer;
    font-size: 13.5px;
    background-color: transparent;

    &-active {
      color: $text-light;
      background-image: $linear-color;
    }
  }
}
