.category {
  .category-title {
    font-size: 2rem;
    text-transform: uppercase;
  }

  &:nth-child(odd) {
    background-color: red;
  }

  &:nth-child(even) {
    background-color: yellow;
  }
}

.album-category:first-child {
  grid-area: album1;
}

.album-category:nth-child(2) {
  grid-area: album2;
}

.album-category:nth-child(3) {
  grid-area: album3;
}

.album-hot-category {
  grid-area: albumHot;
}

.mv-category {
  grid-area: mvList;
  padding: 25px;
}
