.content-grid {
  display: grid;
  width: 1200px;
  align-self: center;
  margin-bottom: 2rem;
  grid-gap: 40px;
  grid-template:
    [row1-start] "album1 songRanking" 15rem [row1-end]
    [row2-start] "album2 songRanking" 15rem [row2-end]
    [row3-start] "album3 songRanking" 15rem [row3-end]
    [row4-start] "albumHot mvRanking" 35rem [row4-end]
    [row5-start] "mvList mvRanking" 5rem [row5-end]
    [row6-start] "mvList suggestForu" 15rem [row6-end]
    [row7-start] "mvList hotTopic" 15rem [row7-end]
    [row8-start] "songList hotTopic" 15rem [row8-end]
    [row9-start] "songList ." 14rem [row9-end]
    [row10-start] "top100 ." 12rem [row10-end]
    [row11-start] "weekly ." 14rem [row11-end]
    / 7.4fr 2.6fr;
}
