.category-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;

  .category-item {
    width: 152px;
    height: 152px;
    background-color: red;
  }
}
