.header-wrapper {
  align-self: center;
  border-bottom: 1px solid #333;
  height: 55px;
  width: 1200px;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    height: 100%;

    .header-logo {
      cursor: pointer;
    }

    .header-beta-version {
      cursor: pointer;
    }
  }
}
