@import "../../../styles/App";

.header-wrapper {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid $text-secondary;
  margin-bottom: 5px;
  align-self: center;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    padding: 5px 0;

    .header-logo {
      cursor: pointer;
    }

    .header-beta-version {
      cursor: pointer;
    }
  }
}
