@import "../../../../../styles/App";

.header-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 490px;

  .header-item {
    cursor: pointer;
    font-size: 14px;
    position: relative;
    height: 100%;
    transform: translateY(15px);

    > a:hover {
      color: $text-active;
    }

    &:hover {
      .header-submenu {
        display: flex;
      }
    }
  }
}
