$text-primary: rgb(0 0 0 / 88%); // (title)
$text-secondary: #999; // (author)
$text-active: #2daaed; //  (category + hover)
$text-light: #fff; // ranking

$background-primary: #2c83ed; // (footer)
$background-secondary: #e5e5e5; // ranking
$background-danger: #e74c3c; // ranking
$background-active: rgb(0 127 240);
$background-hover: rgb(145 158 171 / 6%);
$linear-color: linear-gradient(45deg, #2f80ed 0%, #00aeef 100%); // (button)
$border-color: rgb(13 92 182);
$border-active: #0d5cb6;
