@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

$font-size: 1rem;
$font-weights: (
  "regular": 200,
  "medium": 400,
  "bold": 500,
);
$font-family: "NhacCuaTui", sans-serif;
$line-height: 1.5;
$tablet: 1024px;
$mobile: 768px;
$laptop: 1224px;
