@import "../../../../../styles/App";

.mv-item {
  position: relative;
  width: 195px;
  height: 170px;
  background-color: $text-light;

  .mv-thumbnail {
    position: relative;
    transition: 5s;

    img {
      cursor: pointer;
    }

    .thumbnail-dark-layer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: none;
      background-color: rgb(51 51 51 / 39.1%);
    }

    .thumbnail-play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      transform: translate(-50%, -50%);
      color: $text-light;

      svg {
        font-size: 40px;
      }
    }

    .thumbnail-durations {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 55px;
      height: 20px;
      color: $text-light;
      background-color: rgb(51 51 51 / 60.3%);

      span {
        &:first-child {
          display: block;
        }

        &:nth-child(2) {
          display: block;
          font-size: 12px;
        }
      }
    }

    &:hover {
      .thumbnail-play-icon {
        display: block;
      }

      .thumbnail-dark-layer {
        display: block;
      }
    }
  }

  .mv-info {
    .mv-title {
      transition: 0.5s;
      cursor: pointer;
      font-size: 14px;
      margin-top: 10px;

      &:hover {
        color: $text-active;
      }
    }

    .artist-list {
      display: block;

      a {
        font-size: 12px;

        &:hover {
          color: $text-active;
        }
      }
    }
  }

  &:first-child {
    width: 410px;
    height: 230px;
    grid-column: 1/3;

    .mv-info {
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: 350px;
      color: $text-light;

      .mv-title {
        overflow: hidden;
        font-size: 18px;
        text-shadow: 0 1px 1px rgb(3 3 3 / 70%);
        margin-bottom: 10px;
      }

      .artist-list {
        overflow: hidden;
        font-size: 12px;
        text-shadow: 0 1px 1px rgb(3 3 3 / 70%);
      }
    }
  }

  &:nth-child(2) {
    width: 410px;
    height: 230px;
    grid-column: 3/5;
  }
}
